<canvas data-processing-sources=<%= asset_path 'hello-web.pde' %>></canvas>

<%= render(@user.images) || "<p>No images yet.</p>".html_safe %>

<h3> here are the images you like:</h3>
<ul>
<% current_user.liked_images.each do |image| %>
  <li>
    <%= link_to (image_tag image.url, width:"300"), gallery_image_path(image.gallery, image) %>
  </li>
<% end %>
</ul>


<h3>Here are the group you are a member of <h3>

<% current_user.groups.each do |group| %>
  <li>
    <%= link_to group.name, group_path(group) %>
  </li>
    <% end %>
