<%= link_to gallery do%>
  <h1>Gallery name: <%= gallery.name %></h1>
  <h2>Gallery description: <%= gallery.description %></h2>

<% end %>

<% gallery.images.each do |image| %>
  <div>
    <%= link_to (image_tag image.url, width:"300"), gallery_image_path(gallery, image) %>
  </div>
<% end %>
