<h1>Edit<% @gallery.name %></h1>
 <%= render "form", gallery: @gallery %>

<!-- 
<form action="/galleries/<%= @gallery.id %> " method="POST">

<input type="hidden" name="_method" value="PATCH">
<label for="gallery_name">Gallery name</label>
<input id="gallery_name" type="text" name="gallery[name]">
<label for="gallery_description">Gallery description</label>
<input id="gallery_description" type="text" name="gallery[description]">
<input type="submit" value="Edit Gallery">
</form>
 -->


