img {
  width:300px;
}

a:active {
  color: #99FF00;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: #CCFFCC;
}

a:hover {
  color: #FF00FF;
}

a{
  font-size:  30px;
  padding: 20px;
}

body {
  background: linear-gradient(pink, orange, green);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: green;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  height: 100vh;
  padding: 7px;
  line-height: 1.5;
  margin: 4em;
  padding-top: 0;
  z-index: 1001;
}

b {
  font-size: 30px;
  padding-right: 25px;
  padding-top: 20px;
}

.welcome {
  font-size: 30px;
}

.container {
  margin: 0 auto;
}

canvas {
  padding: 7px;
}

.footer {
  margin: 10em;
  text-align: center;
}

.menu {
  margin-top: -78px;
  margin-bottom: 1.5em;
  a {
    padding-right: 20px;
  }
  b {
    font-size: 30px;
    padding-right: 30px;
  }
  float:right;
}

input {
  color: green;
  font-size: 16px;
  height: 30px;
}

.new {
  margin-top:  7em;
  margin-bottom: 30px;
}

hr {
  color: white;
}

.title {
  font-size: 180px;
  text-align: center;
  padding:-10px;
}

.description {
  font-size: 40px;
}

.sign-in-out {
  margin-left: -21px;
  margin-top: -48px;
  margin-bottom: 30px;
}

.welcome {
  a {
    margin-left: -20px;
  }
}

.new-gallery {
  margin-top: 80px;
}

.gallery {
  margin-top: 7em;
  .welcome p {
    font-size: 60px;
  }
  a {
    border-radius: 25px;
    background-color: green;
    padding: 10px;
    margin-left: 10px;
  }
}

.image {
  margin-top: 7em;
  .welcome {
    a {
      border-radius: 25px;
      background-color: green;
      padding: 10px;
      margin-left: 10px;
      margin-top: 20px;
    }
  }
}

.welcome-message {
  margin-top: 7em;
  .welcome p {
    font-size: 60px;
  }
}

.group {
  margin-top: 7em;
  .welcome p {
    font-size: 60px;
  }
  a {
    border-radius: 25px;
    background-color: green;
    padding: 10px;
    margin-left: 10px;
  }
}

.show {
  .welcome {
    a {
      border-radius: 25px;
      background-color: green;
      padding: 10px;
      margin-left: 10px;
      margin-top: 20px;
    }
  }
}
