body {
  background: linear-gradient(pink, orange, green);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 15px;
  height: 100vh;
  padding: 7px;
  line-height: 1.5;
  margin: 4em;
  padding-top: 0;
  z-index: 1001;
}

a:active {
  color: #99FF00;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: #CCFFCC;
}

a:hover {
  color: #FF00FF;
}

b {
  font-size: 20px;
  padding-right: 30px;
  padding-top: 20px;
}

canvas {
  padding: 7px;
}

.footer {
  margin-bottom: 10px;
  text-align: center;
}

menu {
  padding-top: 20px;
}
