@media only screen and (max-device-width: 320px) {
  .sign-in-out a {
    font-size: 10px;
  }

  .menu {
    margin-top: -3em auto;
    a {
      font-size: 30px;
      padding-right: 30px;
    }
  }

  .footer {
    font-size: 13px;
    margin-top: 20em;
    text-align: center;
  }
.session {
  input {
    font-size: 20px;
    height: 35px;
  }
}

  .description {
    font-size: 30px;
  }
}
