@media only screen and (max-device-width: 320px) {
  .sign-in-out a {
    font-size: 40px;
  }

  .menu {
    margin: 3em auto;
    b {
      font-size: 40px;
      padding-right: 30px;
    }
  }

  .footer {
    font-size: 13px;
    margin-top: 20em;
    text-align: center;
  }

  input {
    font-size: 20px;
    height: 17px;
  }

  .description {
    font-size: 30px;
  }

  .menu {
    margin-top: -6em;
  }
}
